.App {
  text-align: center;
}

html{
  background-color:#82667F;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dresser-top{
  background-size: stretch;
}

.top{
width:100%;
height:300px;
margin-top:0px;
z-index:2;
position:relative;
}

h2{
  color:#FAA4BD;
  font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
  z-index:3;
  margin-top:10px;
}

.handle{
  width:60px;
  height:60px;
  margin-top:30px;
  z-index:-1;
}

.dropdown-menu {
  border: 1px solid #000000;
  background-color: transparent;
  border-bottom-color: transparent;
  padding-top: 5px;
  padding-bottom: 0px;
  z-index:-1;
}
.dropdown {
  border: 0px;
  background-color: transparent;
  border-bottom-color: transparent;
  padding-top: 0px;
  padding-bottom: 0px;
  z-index:0;
 
}

@keyframes slidein {
  from {
    margin-top: -50%;
    width: 95%; 
    
  }

  to {
    margin-top: -20%;
    width: 95%;
    
  }
}

.mail{
  width:11%;
  height:auto;
  z-index:3;
  margin-top:-300px;
  top:-30px;
  transform:rotate(11deg);
  position:relative;
}

.lamp{
  width:15%;
  height:auto;
  z-index:3;
  transform:rotate(11deg);
  position:absolute;
  left:0px;
  top:-10px;
  transform:rotate(100deg);

}

.mail:active{
  animation-duration: 3s;
  animation-name: spin;
  animation-iteration-count: 1;
}

.drawer-1{
  margin-top:-20%;
}

.drawer-2{
  margin-top:-20%;
 
}

.drawer-3{
  margin-top:-20%;

}


.drawer-1:hover .handle{
  opacity:0;
 
}

.drawer-2:hover .handle{
  opacity:0;
  
}

.drawer-3:hover .handle{
  opacity:0;
  
}

.drawer-1:hover .dropdown-menu {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  display: block;
  width:95%;
  margin-top:-20%;
  border: 0px;
  background-color: transparent;
  border-bottom-color: transparent;

}

.drawer-2:hover .dropdown-menu {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  display: block;
  width:95%;
  margin-top:-20%;
  border: 0px;
  background-color: transparent;
  border-bottom-color: transparent;
  

}

.drawer-3:hover .dropdown-menu {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  display: block;
  width:95%;
  margin-top:-20%;
  border: 0px;
  background-color: transparent;
  border-bottom-color: transparent;
  
}

